<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>      
    </div>
  
    <div class="example-table-container">
  
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef> FullName </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="birthDate">
          <mat-header-cell *matHeaderCellDef> BirthDate </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.birthDate}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="account">
          <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
        </ng-container>  
 
        <ng-container matColumnDef="businessPhone">
          <mat-header-cell *matHeaderCellDef> BusinessPhone </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.businessPhone}} </mat-cell>
        </ng-container> 

        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container> 

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container> 

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
        </ng-container> 

        <ng-container matColumnDef="jobTitle">
          <mat-header-cell *matHeaderCellDef> JobTitle </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.jobTitle}} </mat-cell>
        </ng-container> 
          
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
        </ng-container>             
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="onRowClicked(row)">
        </mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="pageSize" [length]="countItems" (page)="onPageChange($event)"></mat-paginator>

    </div>  
  </div>

  