<mat-toolbar color="primary">   
    <mat-toolbar-row>
      <span>Creatio</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">import_export</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid containerP">
  <div class="row">
    <div class="col-md-2">
        <app-import-file></app-import-file>
    </div>
    <div class="col-md-10">
        <app-data-list></app-data-list>
    </div>
  </div>
</div>
